.root {
	border: 1px solid rgba(0,0,0,.075);
	display: flex;
	flex: row;
	padding: 1em;
	position: relative;
	overflow: hidden;
}

.text {
	padding: 0;
	margin: 0;
}

.big {
	& .badge {
		background: #40bf80;
	}
}

.small {
	flex-flow: column;
	& .figureHolder {
		padding-right: none;
		border-right: none;
		margin-bottom: 1em !important;
	}
	& .badge {
		background: #33b2cc;
	}
}

.badge {
	composes: badge from './common.m.css';
}

.figure {
	border: 1px solid #e6e6e6;
	padding: .25em;
}

.figure:after {
	background: #e6e6e6;
	content: "";
	display: block;
	height: 0;
	padding-top: 56.25%;
	width: 100%;
}

.figureHolder {
	border-right: 1px solid #eee;
	flex: 2;
	margin-bottom: 0;
	margin-right: 1em;
	min-width: 0;
	padding-right: 1em;
}

.title {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: .53571em;
}

.bodyHolder {
	flex: 5;
	min-width: 0;
}
